*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(201, 198, 198);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.cabecalho{
    margin-top: 0px;
   
    background-color: rgb(6, 196, 243);
    height: 130px;
}
.titulo{
    margin: 0px;
    padding: 25px;
    text-align: center;
    color: gray;
}
.titulo span{
    color: white;
}
.menu{
    text-align: center;
    font-size: large;    
}

.menu a:link, .menu a:visited{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}
.menu a:hover{
    background-color: white;
    color: rgb(6, 196, 243);
}

.principal{
   
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 920px; 
}
.noticias{
    padding: 20px;
    width: 660px;
     background-color: white;
    margin-bottom: 30px; 
    
}

.noticias p{
    text-align: justify;
}
.noticias a{
    text-decoration: none;
    color:rgb(6, 196, 243);
}
.noticias a:hover{
    color: rgb(178, 231, 245);
}
.data-postagem{
    margin: 0px;
}
.area-lateral{
    width: 200px;
    position: relative;
    bottom: 1250px;
    left: 78%;
    padding: 5px;
    background-color: white;
           
}
#rodape{
    background-color: rgb(143, 146, 143);
    clear: both;
    text-align: center;
    padding: 15px;
}
.data-postagem{
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(143, 146, 143, 0.493);
}
.area-lateral h3{
    background-color: #CCC;
    padding: 5px;
    margin-bottom: 10px;

}
.area-lateral{
    font-size: 0.8em;
}
.area-lateral a{
    color:rgb(6, 196, 243);
    text-decoration: none;
}
.conteudo-lateral{
    padding: 10px;

}